a{
  font-family: sans-serif;
  float:left;
  font-size: 24px;
  display:block;
  display:inline;
  padding: 16px;
  margin: 10px;
  color:#ffffff;
  background-color: #B0B8B4FF;
  border-radius: 30px;
}
.alignright{
  float: right !important;

}
.backgroundcolor{
  background-color: #184A45FF;
}
nav{
  background-color: #184A45FF;
;


}
a:link{
  text-decoration: none;
}
a:hover{
  background-color: #545454;
}
.active {
  background-color: #4CAF50;
  color: white;
}
ul{
  list-style-type : none;
  margin:0;
  overflow: hidden;
  padding: 0;
  background-color: #0275d8;
  position:sticky !important;
  width:100%;
}
h2{
  font-family: sans-serif;

}
body{
  background-color: #184A45FF;
  <-->green</-->
}
.intro{
  text-align: center;
  font-family: sans-serif;
  font-size: 48px;
  color:#ffffff;
  margin:40px;
}

.backgroundinfo{
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  color:#ffffff;

}
.reee{
  background-color: #FC766AFF;
  color: white;
}
.contactlink{
  background-color: #FC766AFF!important;

}
.contactlink:hover{
  background-color: #FC766AFF!important;
}
.centercenter{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.toplogo{
  width:200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin:none!important;
}
